---
import Layout from '../layouts/Layout.astro';
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SkillCard from "../components/SkillCard.astro";
import Title from "../components/Title.astro";
---

<Layout title= "Ayala | Portfolio">

<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>

<header><Navbar /></header>

<main>
	<!-- ABOUT SECTION -->
	<section class="about">
		
		<!-- Background 3D -->
		<div class="model-bg">
			<model-viewer 
				class="model3d"
				src="github.glb"
				alt="Github Logo"
				auto-rotate
				camera-controls
				disable-zoom>
			</model-viewer>
		</div>

		<article>
			<p>Hi!, I'm Julio Cesar Ayala Lopez</p>
			<Title text='Software Developer'/>
		</article>

		<Button message='Latest Posts' icon='/external-link.svg' link='#'/>
	</section>

	<!-- SKILLS -->
	<section class="skills">
		<Title text='Skills & Technologies'/>
		<section>
			<SkillCard 
				title='Frontend Development'
				description='Developing websites with JavaScript, React, and Astro'
				icon='/design.svg'
			/>
			<SkillCard 
				title='Backend Development'
				description=' Developing APIs with JavaScript and Python'
				icon='/server.svg'
			/>
			<SkillCard 
				title='Databases'
				description='Databases like PostgreSQL and MongoDB.'
				icon='/database.svg'
			/>
		</section>
	</section>

	<!-- WORK -->
	<section class="work">
		<Title text='My Work'/>
		<section>
			<ProjectCard 
				title='My Project #1'
				description='Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
				link='#'
			/>
			<ProjectCard 
				title='My Project #2'
				description='Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
				link='#'
			/>
			<ProjectCard 
				title='My Project #3'
				description='Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
				link='#'
			/>
		</section>
	</section>

	<!-- CONTACT -->
	<section class="contact">
		<Title text='Tell me about our next project Together'/>
		<Button message='Send Message' icon='/email.svg' link='julio:julioiayalalopez89@gmail.com'/>
	</section>

</main>

<Footer />
</Layout>

<style>

	/* --- MAIN LAYOUT --- */
	main {
		margin: 50px auto 0 auto;
		max-width: 1020px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 100px;
	}

	header {
		position: relative;
		z-index: 999;
	}

	/* --- ABOUT SECTION WITH 3D BACKGROUND --- */
	.about {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;

		width: 100%;
		height: calc(100vh - 50px);

		text-align: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0 20px;

		overflow: hidden; /* evita que el 3D se salga */
	}

	/* Background container */
	.model-bg {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		pointer-events: none; /* el usuario puede clicar el texto */
	}

	/* 3D model fills whole section */
	.model3d {
		width: 100%;
		height: 70%;/*
		object-fit: cover;*/
	}

	/* Content ABOVE the 3D model */
	.about > article,
	.about > button {
		position: relative;
		z-index: 2;
	}

	.about > article {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.about > article > p {
		color: #1e1e1e;
		font-style: italic;
	}

	/* --- SKILLS SECTION --- */
	.skills {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgba(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}

	.skills > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	/* --- WORK SECTION --- */
	.work {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}
	
	.work > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	/* --- CONTACT --- */
	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		width: 100%;
		padding: 0px 20px 100px 20px;
	}

	/* --- MOBILE RESPONSIVE --- */
	@media screen and (max-width: 700px) {
		main {
			margin: 0 auto;
		}

		.about {
			height: 80vh;
		}
	}

</style>
